.title {
    font-weight: bold;
}
.lighthouse-card {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(54, 58, 80, .32);
    margin: 10px;
    box-sizing: border-box;
    border-radius: 0;
    color: rgba(0, 0, 0, .9);
    font-size: 12px;
    padding: 20px;
    height: auto;
    width: 40vw;
    max-width: 500px;
}
.information {
    &-left {
        vertical-align: baseline;
        color: rgba(0, 0, 0, .4);
        padding-right: 20px;
        padding-top: 6px;
        padding-bottom: 6px;
        width: 100px;
    }
    &-right {
        flex: 1;
        padding-top: 6px;
    }
}
.popOverContent {
    max-width: 15vw;
}
ul {
    list-style: decimal !important;
}
.synopsis-wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap:wrap;
    min-width: 1080px;
    max-width: 60vw;
    margin: 0 auto;
}