/* 自定义 antd 暗黑模式样式 */
.content-box {
  background-color: #1f1f1f;
  box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.2);
}
.attribute {
  color: #d9d9d9;
}
.text {
  color: #d9d9d9;
}
.base-bg {
  background-color: #1f1f1f;
}
.content-bg {
  background-color: #1f1f1f;
  border-color: #414243;
}
.icon-style,
.title {
  color: #d9d9d9;
}
.title {
  font-weight: bold;
}
